/* :root {
  --charcoal: #2c2c2c;
  --smoke-dark: #85898e;
  --smoke-shadow: #d8dadc;
  --smoke: #eceeef;
  --red: #ff0d0d;
  --green: #0bac46;
  --blue: #1996eb;
  --dark: #000;
  --gray: #aaaaaa;
  --white: #ffffff;
  --surface-background: var(--white);
  --overlay: rgba(155, 155, 155, 0.5);
  --surface-highlight: var(--smoke);
  --primary-text: var(--charcoal);
  --secondary-text: var(--smoke-dark);
  --link: var(--blue);
  --lg: 800px;
  --small: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-background: var(--charcoal);
    --surface-highlight: #393939;
    --primary-text: var(--white);
    --secondary-text: var(--smoke-shadow);
    --link: #4bb7ff;
    --overlay: rgba(0, 0, 0, 0.8);
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  color: #616169;
  font-size: 1.15rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  width: 60%;
  margin-top: 15%;
  margin-bottom: 13%;
  border: none;
  border-bottom: 2px solid #f6b1ff;
  opacity: 0.5;
  border-radius: 3px;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0;
  font-weight: 500;
  color: #37373c;
}

h2 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: -2%;
  color: #37373c;
}

p {
  margin-bottom: 5%;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
