:root {
  --white: #ffffff;
  --charcoal: #0c0c0c;
  --red: #ef4343;
  --purple: #9000ff;
  --blue: #0086ff;
  --teal: #7de9ff;
  --green: #54eb78;
  --yellow: #ffd700;
  --lightRed: #fdc9c9;
  --lightPurple: #dfb7ff;
  --lightBlue: #b8e8ff;
  --lightGreen: #80f6a1;
  --lightYellow: #ffda8c;
  --surfaceBackground: white;
  --surfaceHighlight: #eff3f5;
  --surfaceBorder: #dde5ea;
  --surfaceBorderHighlight: #c1cacf;
  --cardShadow: rgba(204, 216, 223, 0.5);
  --primaryText: #37373c;
  --secondaryText: #7c7c84;
  --placeholderText: #6b767d;
  --twitterBlue: #1d9dff;
  --gray1: #eff3f5;
  --gray2: #dde5ea;
  --gray3: #b7c5cd;
  --gray4: #5d626e;
  --lg: 800px;
  --small: 600px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --surface-background: var(--charcoal);
    --primaryText: var(--white);
    --secondaryText: #9696a0;
  }
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--surface-background);
  color: var(--secondaryText);
  font-size: 1.15rem;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr {
  width: 60%;
  margin-top: 15%;
  margin-bottom: 13%;
  border: none;
  border-bottom: 2px solid var(--lightRed);
  opacity: 0.5;
  border-radius: 3px;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0;
  font-weight: 500;
  color: var(--primaryText);
}

h2 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: -2%;
  color: var(--primaryText);
}

p {
  margin-bottom: 5%;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 630px) {
  body {
    font-size: 1rem;
  }
  br {
    display: none;
  }
}
