:root {
  --white: #ffffff;
  --charcoalRGB: 12, 12, 12;
  --charcoal: #412d2d;
  --red: #ef4343;
  --purple: #9000ff;
  --blue: #0086ff;
  --teal: #7de9ff;
  --green: #54eb78;
  --yellow: #ffd700;
  --lightRed: #fdc9c9;
  --lightPurple: #dfb7ff;
  --lightBlue: #b8e8ff;
  --lightGreen: #80f6a1;
  --lightYellow: #ffda8c;
  --surfaceBackground: #fffdfb;
  --surfaceHighlight: #fff;
  --surfaceBorder: #dde5ea;
  --surfaceBorderHighlight: #c1cacf;
  --cardShadow: rgba(255, 240, 225, 1);
  --cardBackground: var(--surfaceBackground);
  --primaryButtonBackground: #654949;
  --primaryText: #654949;
  --secondaryText: rgba(112, 86, 86, 0.75);
  --placeholderText: rgba(118, 52, 52, 0.57);
  --inputLightBackground: rgb(255, 235, 215, 1);
  --inputLightHighlight: rgba(189, 177, 165, 0.75);
  --twitterIcon: #1d9dff;
  --gradientOverlay: rgba(255, 253, 251, 0.5);
  --buttonLabel: var(--charcoal);
  --inputButtonBackground: var(--white);
  --inputButtonShadow: rgba(0, 0, 0, 1);
  --inputButtonText: var(--primaryText);
  --gray1: #eff3f5;
  --gray2: #dde5ea;
  --gray3: #b7c5cd;
  --gray4: #5d626e;
  --lg: 800px;
  --small: 600px;
  --rainbowButtonOpacity: 0.4;
  --logoBackground: var(--white);
  --logoShadow1: rgba(0, 0, 0, 0.2);
  --logoShadow2: rgba(0, 0, 0, 0.5);
  --logoShadow3: rgba(0, 0, 0, 0.6);
  --logoShadow4: rgba(0, 0, 0, 0.8);
  --simpleLogoShadow1: rgba(254, 129, 50, 0.155);
  --simpleLogoShadow2: rgba(254, 129, 50, 0.155);
  --simpleLogoShadow3: rgba(254, 129, 50, 0.155);
  --top: #ffffff;
  --bottom: #dcf1ff;

  --duskSurfaceBackground: #251111;
  --duskPrimaryText: #ffffff;
  --duskSecondaryText: #8c7777;
}

@media (prefers-color-scheme: dark) {
  :root {
    --surfaceBackground: #281f1f;
    --surfaceHighlight: #403535;
    --primaryText: var(--white);
    --secondaryText: #9b9ba3;
    --gradientOverlay: rgba(var(--charcoalRGB), 0.65);
    --primaryButtonBackground: #725e5e;

    --lightRed: #ff5f5f;
    --lightPurple: #bd6dff;
    --lightBlue: #65adff;
    --lightGreen: #80f6a1;
    --lightYellow: #ffd359;
    --rainbowButtonOpacity: 1;
    --surfaceBorderHighlight: rgb(93, 100, 104);

    --inputLightBackground: rgba(236, 225, 213, 0.08);
    --inputLightHighlight: rgba(189, 177, 165, 0.3);
    --placeholderText: rgba(171, 170, 170, 0.5);
    --inputButtonBackground: var(--gray4);
    --inputButtonShadow: rgba(0, 0, 0, 0);
    --inputButtonText: var(--charcoal);

    --surfaceBorder: #4c5053;
    --cardShadow: transparent;

    --gray4: #eff3f5;
    --gray3: #dde5ea;
    --gray2: #b7c5cd;
    --gray1: #3c4047;

    --logoBackground: linear-gradient(#232326, #161515);
    --logoShadow1: rgba(0, 0, 0, 0.2);
    --logoShadow2: rgba(255, 255, 255, 0);
    --logoShadow3: rgba(255, 255, 255, 1);
    --logoShadow4: rgba(0, 0, 0, 0.3);
    --simpleLogoShadow1: rgba(2, 2, 3, 0);
    --simpleLogoShadow2: rgba(2, 2, 4, 0.6);
    --top: #2a2a2a;
    --bottom: #151516;

    --twitterIcon: var(--charcoal);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-rounded, SF Pro Rounded, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background-color: var(--surfaceBackground);
  color: var(--secondaryText);
  font-size: 1.2rem;
  line-height: 1.6;
}

html .code,
body .code {
  background-color: var(--duskSurfaceBackground);
  color: var(--duskSecondaryText);
}

.code h1,
.code h2 {
  color: var(--duskPrimaryText);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 0;
  font-weight: 500;
  color: var(--primaryText);
}

.rainbowText {
  background: -webkit-linear-gradient(
    40deg,
    #ffbaba 0%,
    #fffacf 26%,
    #b6f1ff 33%,
    #fff3f3 61%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: -2%;
  color: var(--primaryText);
}

p {
  margin-bottom: 5%;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 630px) {
  body {
    font-size: 1rem;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.code .yt-lite > .lty-playbtn {
  display: block;
  width: 68px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  /* YT's actual play button svg */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-color: none;
  filter: grayscale(100%);
  backdrop-filter: blur("24px");
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
  opacity: 1;
}

.code .yt-lite:hover > .lty-playbtn {
  filter: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
  background-color: transparent;
}
